# Copy from .env.local on the Vercel dashboard
# https://nextjs.org/learn/dashboard-app/setting-up-your-database#create-a-postgres-database
DATABASE_URL=postgres://postgres:root@localhost:5432/next-app
POSTGRES_USER=postgres
POSTGRES_HOST=localhost
POSTGRES_PASSWORD=root
POSTGRES_DATABASE=next-app
POSTGRES_PORT=5432

# `openssl rand -base64 32`
AUTH_SECRET=
AUTH_URL=http://localhost:3000/api/auth